# ---------------------------- MONGO config -------------------------------------- #
MONGO_INITDB_ROOT_USERNAME=rootuser
MONGO_INITDB_ROOT_PASSWORD=rootpassword
# ---------------------------- FrontEnd config ----------------------------------- #

# ---------------------------- Observability config ------------------------------ #
NODE_ENV=development
LOG_LEVEL=debug
